<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kubos</title>
</head>
<body>
    <h1>All Kubos</h1>
    <ul>
        <% for (let kubo of kubos){ %>
            <li><a href="kubos/<%= kubo._id %>"><%= kubo.title %></a></li>
        <% } %>
    </ul>
</body>
</html>